/* Display */

.game-title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.game-how-to-play {
    font-size: medium;
    font-weight: italic;
    text-align: center;
}

#result {
    text-align: center;

}
.games {
    text-align: center;
}